BODY { 
	font-family: Verdana,Tahoma,Arial,Sans-Serif;
	font-size: 10pt;
}
TABLE { 
	font-family: Verdana,Tahoma,Arial,Sans-Serif;
	font-size: 10pt;
}
PRE.LIST {
	background: #CFD9FF;
	border: 1ex solid #AAAAE6;
	padding: 1ex;
}

PRE.SNIP {
	background: #CFD9FF;
	padding: 1ex;
}

PRE.CONSOLE {
	color: #CCCCCC;
	background: #000000;
	font-family: Courier New,Courier;
	padding: 1ex;
}
P.NOTE {
	background: #CFD9FF;
	border: .5ex solid #AAAAE6;
	padding: 1ex;
}
